body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// components
.App {
    text-align: center;
}

// home components
.home-component {
    // particles text
    .particles-map {
        width: 100vw;
        height: 100vh;
        background-image: url(../img/world-1920x1200.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    // audioRoom-control 
    .audioRoom-control {
        height: 30vh;
    }
    .audioRoom-control__knob {
        background-color: #61dafb;
    }
    .audioRoom-control {
        width: 230px;
        height: 230px;
        margin: 30px auto;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .audioRoom-control__knob {
        width: 30px;
        height: 30px;
        background: orange;
    }
}

// logo
.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}