// colors
$primary-color: rgb(131, 32, 224);
$hover-color: rgb(122, 90, 141);
$accent-color:rgb(70, 149, 172);
$dark-color: #050505;
$hell-color: rgba(241, 236, 236, 0.5);
$dark-blue-color:rgb(38, 37, 59);
