// project
.projects-container {
    h2 {
        margin: -3rem 0rem 3rem 0rem;
        font-size: 2rem;
        font-family: 'Staatliches', cursive;
        letter-spacing: 0.1em;
        color: #f1f0f0;
        text-shadow: 0 0 5px black;
    }
    width: 100vw;
    height: 90vh;
    margin-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(../img/collage.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .projects-container-inner {
        position: relative;
        width: 50vw;
        padding: 1rem 0rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 5px 0px rgb(112, 112, 114);
        border-radius: 8px;
        background-color: rgba(167, 169, 172, 0.7);
        box-shadow: inset 4px -2px 45px -5px rgba(10, 10, 10, 0.9);
        form {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button {
                width: 10rem;
                margin-top: 1.0rem;
                &:hover {
                    background-color: rgba(122, 90, 141, 0.5);
                }
            }
        }
    }
    ul {
        width: 20rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-align: center;
        li {
            margin-top: 0.5rem;
            a {
                font-family: 'Orbitron', sans-serif;
                font-size: 1.3em;
                text-decoration: none;
                color: #000;
                padding: 0rem 0.3rem;
                &:hover {
                    color: #1a2e5a;
                }
            }
            // link hover effect
            a.middle {
                position: relative;
            }
            a.middle:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #1a2e5a;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.6s ease-in-out;
            }
            a.middle:hover:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
        li:nth-child(odd) {
            background-color: rgba(152, 152, 156, 0.7);
        }
    }
}

.project-title {
    margin: 0.5rem 0rem 2rem 0rem;
    p {
        font-weight: 900;
    }
    h2,
    h3,
    p {
        display: inline;
        font-family: 'Staatliches', cursive;
        letter-spacing: 0.1em;
    }
}

// single project
.single-project-container-outer {
    width: 100vw;
    // background-image: url(../img/collage.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    .single-project-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .project-title {
            width: 35rem;
            margin-top: -2.5rem;
            padding: 0.5rem;
            // background-color: rgba(255, 255, 255,0.7);
            color: #fff;
            padding: 1rem;
        }
        .btn-group {
            box-shadow: 0px 2px 8px 0px rgba(1, 9, 26, 0.5);
            border-radius: 5px;
            margin: 0 auto;
            color: #000;
            font-weight: 900;
            .play {
                background-color: rgb(85, 118, 145);
                color: #000;
                border: 1px solid #fff;
                letter-spacing: 0.1em;
                &:hover {
                    color: #fff;
                }
            }
            .pause {
                background-color: rgb(138, 142, 153);
                color: #000;
                border: 1px solid #fff;
                letter-spacing: 0.1em;
                &:hover {
                    color: #fff;
                }
            }
            .stop {
                background-color: rgb(100, 106, 131);
                color: #000;
                border: 1px solid #fff;
                letter-spacing: 0.1em;
                &:hover {
                    color: #fff;
                }
            }
        }
        .back-btn {
            width: 8.9rem;
            align-self: flex-end;
            font-family: 'Staatliches', cursive;
            letter-spacing: 0.05em;
            color: #000;
            text-decoration: none;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            background-color: rgba(224, 221, 221, 0.8);
            border: 1px solid #fff;
            &:hover {
                color: #fff;
                background-color: rgba(122, 90, 141, 0.7);
            }
        }
        .track {
            margin-top: -1.5rem;
            // border: 1px solid #000;
            padding: 1rem 2rem;
            background-color: rgba(238, 237, 237, 0.7);
            box-shadow: 0px 2px 15px 0px rgba(1, 9, 26, 1);
            font-family: 'Staatliches', cursive;
            letter-spacing: 0.08em
        }
        .btn-delete-project {
            align-self: flex-end;
            font-family: 'Staatliches', cursive;
            letter-spacing: 0.08em;
            background-color: rgb(90, 3, 3);
            // border: 1px solid rgb(104, 103, 103);
            border: 1px solid rgba(202, 200, 200, 0.5);
            &:hover {
                background-color: rgba(90, 3, 3, 0.5);
            }
        }
    }
}

// monkey images
@keyframes fadeIn {
    from {
        opacity: 0.3;
    }
}

.img-deco {
    width: 150px;
    position: absolute;
    // top: 15rem;
    animation: fadeIn 1.7s infinite alternate;
}

.img-deco-one {
    left: 2.4rem;
}

.img-deco-two {
    left: 29rem;
}